/*
Theme Name: Victoria's 2016 Child Theme
Description: Child theme based on twentysixteen
Author: Victoria Jin
Version: 1.0
Template: twentysixteen
*/

@import url('../twentysixteen/style.css');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Karla');

/*font-family: 'Viga', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/
/*font-family: 'Karla', sans-serif;*/


body {
	background-color: #e8eef6;
	font-family: 'Karla', sans-serif;
}

.site {
	background-color: #e8eef6;
}

/*LINKS*/
a:hover {
	text-decoration: none;
	font-weight: bold;
	text-shadow: 3px 3px 7px #f7caa7;
}
.site-branding .site-title a:hover, .site-branding .site-title a:focus{
	color: #ab838f;
}

/*LINKS END*/

/*HEADER*/
p.site-title {
	font-size: 60px;
	text-transform: uppercase;
}

p.site-description {
	font-family: 'Karla', sans-serif;
	text-align: right;
	text-transform: uppercase;
	color: #000000;
	margin: 0px;
	font-size: 16px;
}

div.site-header-main {
	border-bottom: 4px solid #000000;
}

div.site-branding {
	margin-bottom: 7px;
}

header#masthead.site-header {
	padding: 0px;
	margin: 55px;
	margin-top: 0px;
}

div#site-header-menu.site-header-menu{
	margin-top: 88px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

ul#menu-main-navigation.primary-menu {
	font-family: 'Karla', sans-serif;
}
/*HEADER END*/

h1.entry-title, h2.entry-title {
	font-family: 'Karla', sans-serif;
}

p {
	color: #000000;
}



